style.css
body {
  width: 1366px;
  background-color: rgb(253, 251, 251);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#cabecalho{
    top: 0;
    position: fixed;
    z-index: 1;
    width: 97%;
    border: rgb(23, 248, 248) solid 5px;
    background-color: rgb(137, 247, 210);
    display: block;
}
#titulo{
  font-family: cursive;
  text-align: center;
  z-index: 1;
}
#container{
    margin-top: 103px;
}
#navegação {
  position: fixed;
  z-index: 1;
  border: rgb(23, 248, 248) solid 5px;
  width: 96%;
  text-align: center;
  background-color: rgb(181, 238, 235);
  padding: 8px;
  font-size: large;
  display: block;
}
#licoes_navegacao,
#barra,
#habilidades,
#fim,
#licoesaprendidas {
  margin-left: 30px;
  color: black;
}
#minha_foto {
    margin-top: 60px;
}
#licoes_aprendidas {
  position: relative;
  margin-top: 10px
}
#licoes_a_aprender {
  position: relative;
}
#article {
  position: relative;
}
#secao1 {
  position: relative;
}
#table-titulo{
    position: relative;
    margin-top: 300px;
}
#table{
    line-height: 30px;
    border: aquamarine solid 4px;
}
#rodape {
  position: relative;
  text-align: center;
  border: turquoise solid 5px;
  padding: 5px;
  margin-top: 10px;
  display: block;
  background-color: rgb(174, 238, 217);
}
.lado-esquerdo {
  border: aquamarine solid 5px;
  max-width: 400px;
  float: left;
}
.lado-direito {
  border: aquamarine solid 5px;
  max-width: 250px;
  float: right;
  margin-right: 500px;
}